LampShop/LampShop/Connected Services/LampService/Lamp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="LampService" elementFormDefault="qualified" targetNamespace="LampService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1224/Lamp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RepositoryInterface.Models" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RepositoryInterface.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfLamp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>